ion-content {
  //--background: #eceef3;
  --background: #18181b;
}
cdk-virtual-scroll-viewport {
  height: calc(100vh - 180px);
  width: 100%;
  max-width: 100%;
  background: #fff;
  border-radius: 5px;
}
::ng-deep {
  .cdk-virtual-scroll-content-wrapper {
    right: 0;
  }
}
.item {
  height: 55px;
  width: 100%;
}
