<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="px-5">
      <ion-segment
        mode="ios"
        [value]="mode"
        (ionChange)="segmentChanged($event)"
      >
        <ion-segment-button value="packages">
          <ion-label>Packages</ion-label>
        </ion-segment-button>
        <ion-segment-button value="installed">
          <ion-label>Installed</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()"
        ><ion-icon name="refresh-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
    [(ngModel)]="search"
    (keydown.enter)="doSearch()"
  ></ion-searchbar>
  <ng-container *ngIf="mode == 'packages'">
    <div
      (click)="install(package)"
      class="flex items-center justify-start cursor-pointer bg-white text-gray-700 hover:text-blue-400 hover:bg-blue-100 rounded-md px-4 py-2 my-2 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg"
      *lazyFor="let package of packages | filter: currentSearch"
    >
      <div class="flex-grow font-medium pr-2">
        <h2 class="font-bold">{{package[0]}}</h2>
        <p class="text-sm font-normal text-gray-500 tracking-wide">
          {{package[1]}} - {{package[2]}}
        </p>
      </div>

      <div class="text-sm font-normal text-gray-500 tracking-wide">Install</div>
    </div>
  </ng-container>

  <div *ngIf="mode == 'installed'">
    <div
      class="flex items-center justify-start cursor-pointer bg-white text-gray-700 hover:text-blue-400 hover:bg-blue-100 rounded-md px-4 py-2 my-2 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg"
      *lazyFor="let package of installed | filter: currentSearch"
    >
      <div class="flex-grow font-medium pr-2">
        <h2 class="font-bold">{{package[0]}}</h2>
        <p class="text-sm font-normal text-gray-500 tracking-wide">
          {{package[1]}} - {{package[2]}}
        </p>
      </div>

      <div class="text-sm font-normal text-gray-500 tracking-wide">Update</div>
      <div class="text-sm font-normal text-gray-500 tracking-wide">
        Uninstall
      </div>
    </div>
  </div>
</ion-content>
