<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="px-5">
      <ion-segment
        mode="ios"
        [value]="mode"
        (ionChange)="segmentChanged($event)"
      >
        <ion-segment-button value="packages">
          <ion-label>Packages</ion-label>
        </ion-segment-button>
        <ion-segment-button value="installed">
          <ion-label>Installed</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()"
        ><ion-icon name="refresh-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
    class="p-0 mb-3"
    [(ngModel)]="search"
    (keydown.enter)="doSearch()"
  ></ion-searchbar>
  <ng-container *ngIf="mode == 'packages'">
    <cdk-virtual-scroll-viewport
      itemSize="55"
      minBufferPx="1200"
      maxBufferPx="1200"
    >
      <div
        (click)="install(package)"
        class="
          item
          flex
          items-center
          justify-start
          hover:bg-gray-100
          bg-white
          text-gray-700
          px-4
          py-2
          my-2
        "
        *cdkVirtualFor="let package of packages | filter: currentSearch"
      >
        <div class="title flex-grow font-medium pr-2">
          <h2 class="font-bold">{{package[0]}}</h2>
          <p class="text-sm font-normal text-gray-500 tracking-wide">
            {{package[1]}} - {{package[2]}}
          </p>
        </div>

        <div
          class="
            cursor-pointer
            text-sm
            font-normal
            text-gray-500
            tracking-wide
            p-2
            hover:text-blue-400
            hover:bg-blue-100
            rounded-md
          "
        >
          Install
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-container>

  <ng-container *ngIf="mode == 'installed'">
    <cdk-virtual-scroll-viewport
      itemSize="55"
      minBufferPx="1200"
      maxBufferPx="1200"
    >
      <div
        class="
          item
          flex
          items-center
          hover:bg-gray-100
          bg-white
          text-gray-700
          px-4
          py-2
          my-2
        "
        *cdkVirtualFor="let package of installed  | filter: currentSearch ; trackBy:trackBy"
      >
        <div
          class="title font-medium pr-2 flex-grow"
          style="max-width: calc(100% - 85px)"
        >
          <h2 class="font-bold">{{package[0]}}</h2>
          <p class="text-sm font-normal text-gray-500 tracking-wide">
            {{package[1]}} - {{package[2]}}
          </p>
        </div>

        <div class="flex flex-col items-end">
          <div
            class="
              cursor-pointer
              text-sm
              font-normal
              text-gray-500
              tracking-wide
              px-2
              py-1
              hover:text-blue-400
              hover:bg-blue-100
              rounded-md
            "
            (click)="install(package)"
          >
            Update
          </div>
          <div
            class="
              cursor-pointer
              text-sm
              font-normal
              text-gray-500
              tracking-wide
              px-2
              py-1
              ml-3
              hover:text-blue-400
              hover:bg-blue-100
              rounded-md
            "
            (click)="uninstall(package)"
          >
            Uninstall
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-buttons slot="end">
    <ion-button (click)="upgradeAll()">Upgrade all</ion-button>
  </ion-buttons>
</ion-footer>
